{% extends 'accounts/email/email_layout.html' %}

{% block title %}Welcome to Toad{% endblock %}

{% block header_title %}{% endblock %}

{% block content %}

<div class="message">
    <p>Hi{% if user.first_name %} {{ user.first_name }},{% else %},{% endif %}</p>
    
    <p>Welcome to Toad.</p>
    
    <p>Most people don't need a new system.</p>
    
    <p>They just need one place where things can land.</p>
    
    <p>Notes. Tasks. Loose ends.</p>
    
    <p>Instead of staying in your head or buried somewhere else.</p>
    
    <p>You don't need to set anything up.</p>
    
    <p>Just start putting the things you don't want to forget into Toad.</p>
    
    <p>If it brings a bit more clarity, keep going.</p>
    
    <p>If not, no pressure.</p>
    
    <p>As always, if you have any questions or comments, just reply to this email as it comes straight to me.</p>
    
    <p style="margin-top: 24px;">Tom<br/>Founder, Toad</p>
</div>

{% endblock %}
